.heart {
            position: relative;
            width: 100px;
            height: 100px;
            background-color: red;
            transform: rotate(-45deg);
            animation: beat 0.8s infinite;

        }

        .heart::before,.heart::after 
        {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: red;
            border-radius: 50%;
        }

        .heart::before 
        {
            top: -50px;
            left: 0;
        }

        .heart::after 
        {
            top: 0;
            left: 50px;
        }

        @keyframes beat 
        {
            0% { transform: scale(1) rotate(-45deg); }
            50% { transform: scale(1.1) rotate(-45deg); }
            100% { transform: scale(1) rotate(-45deg); }
        }

